<?xml version="1.0"?>
<model>
    <name>livox</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Hongwei Xiong</name>
        <email>xxxionghw@gmail.com</email>
    </author>
    <description>
        This is the livox mid360 model for Gazebo simulation.
    </description>
</model>